@media (min-width: 992px) {
    .header{
        height: auto;
    }

    .header .navbar {
        margin-top: 24px;
        border-radius: 8px;
    }
    .header .navbar .container-fluid .collapse {
        background-color: transparent;
        width: inherit;
        padding: 0;
        border-radius: 0;
        margin: 0;
    }

    .header .navbar .container-fluid .navbar-collapse ul li{
        margin-bottom: 0;
        border-bottom: none;
    }

    #carrousel-container .carousel-caption {
        padding-bottom: 2rem;
    }

    #challenges-container .card-container {
        background-image: url(../assets/images/retos/ants.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #challenges-container .card-container--eagle{
        background-image: url(../assets/images/retos/eagle.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #challenges-container .card-container:hover{
        background-image: none;
        background-color: #C9FF00;
    }
    
    #challenges-container .card-container--eagle:hover{
        background-image: none;
        background-color: #C9FF00;
    }

    #challenges-container .card .card-body{
        opacity: 0;
    }
    
    #challenges-container .card .card-body:hover{
        opacity: 1;
    }   

    #place-time-container .place-time--detail {
        text-align: inherit;
        margin: 10px auto;
    }
}