:root{
    /*Colores*/
    --background-color: #1b1b1b;
    --primary-color: #C9FF00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* menu */
.header{
    height: 92vh;
}

.header .navbar {
    margin-top: 24px;
    border-radius: 8px;
    padding: 8px 12px;
    height: 60px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 40%);
    position: fixed;
}

.header .navbar .container-fluid .navbar-brand{
    width: 75px;
}

.header .navbar .container-fluid .navbar-brand img{
    width: 100%;
}

.header .navbar .container-fluid .collapse a{
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 8px;
} 

.header .navbar .container-fluid .collapse .btn{
    color: var(--primary-color);
} 


.header .navbar .container-fluid .collapse .btn-primary{
    border-radius: 4px;
    background-color: var(--background-color);
    border-color: var(--background-color);
} 
/* menu */

/* carousel */
#carrousel-container{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

#carrousel-container .carousel-caption {
    padding-bottom: 8rem;
    left: 0;
}

#carrousel-container .carousel-caption h2{
    color: #fff;
}

#carrousel-container .carousel-caption .btn {
    color: var(--primary-color);
}

#carrousel-container .carousel-caption .btn-primary {
    border-radius: 4px;
    background-color: var(--background-color);
    border-color: var(--background-color);
    font-weight: 600;
    text-transform: uppercase;
}

#carrousel-container .carousel-caption .btn-outline-primary{
    border-color: #fff;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 8px;
}

#carrousel-container .carousel-inner{
    height: 100vh;
}

#carrousel-container .carousel-inner img{
    max-height: 100vh;
    object-fit: cover;
}
/* carousel */

/* challenges */
#challenges-container{
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

#challenges-container .challenges-container--title{
    margin: 36px 0;
    color: #fff;
    letter-spacing: 5px;
}

#challenges-container .card-container{
    background-image: url(/assets/images/retos/ants.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#challenges-container .card-container--eagle{
    background-image: url(/assets/images/retos/eagle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#challenges-container .card-container:hover, .card-container--eagle:hover{
    background-image: none;
    background-color: #C9FF00;
}

#challenges-container .card-container--eagle:hover{
    background-image: none;
    background-color: #C9FF00;
}

#challenges-container .card{
    border: none;
    margin-bottom: 60px;
    max-width: 451px;
    height: 505px;
    padding: 36px 24px;
    background-color: transparent;
}

#challenges-container .card .card-body{
    opacity: 0;
}

#challenges-container .card .card-body:hover{
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#challenges-container .card .card-body .badges .bg-primary{
    background-color: #C9FF00!important;
    border: 1px solid var(--background-color);
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
}

#challenges-container .card .card-body h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--background-color);
}

#challenges-container .card .card-body p{
    margin-bottom: 32px;
}

#challenges-container .card .card-body .btn{
    color: var(--primary-color);
}

#challenges-container .card .card-body .btn-primary{
    border-radius: 4px;
    background-color: var(--background-color);
    border-color: var(--background-color);
    font-weight: 600;
    text-transform: uppercase;
    width: auto;
    margin: 0 auto;
}

#challenges-container .card-body img{
    width: 50%;
    margin: auto;
}
/* challenges */

/* date */
#place-time-container{
    background-image: url(/assets/images/date/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 8px 60px 0;
}

#place-time-container .place-time--detail{
    margin: auto;
}

#place-time-container .place-time--detail small{
    letter-spacing: 4px;
}

#place-time-container .place-time--detail small,h2{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
}

#place-time-container .place-time--detail p{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}

#place-time-container .place-time--detail .btn{
    color: var(--background-color)
}

#place-time-container .place-time--detail .btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

#place-time-container img{
    max-width: 100%;
}
/* date */

/* form */
#contact-form-container{
	width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

#contact-form-container .form-title-container{
    margin: 32px auto 0;
}

#contact-form-container .form-title-container small{
    color: var(--primary-color);
    letter-spacing: 2px;
}

#contact-form-container .form-description-container{
    margin-bottom: 16px;
}

#contact-form-container .form-description-container p{
    color: #fff;
    font-weight: 300;
}

#contact-form-container .form-container{
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
}

#contact-form-container .form-container .form-icon{
    margin-bottom: 36px;
}

#contact-form-container .form-container .form-icon .form-icon--detail{
    margin-left: 16px;
}

#contact-form-container .form-container .form-icon .form-icon--detail h2{
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: none;
    color: var(--background-color);
    margin-bottom: 0;
}

#contact-form-container .form-container .form-icon .form-icon--detail small{
    color: #7C859B;
}

#contact-form-container .form-control{
    border: 1px solid #D8DCE6;
    background: #D8DCE64D;
}
#contact-form-container .btn{
    color: var(--primary-color);
    padding: .375rem 1.90rem;
}

#contact-form-container .btn-primary{
    background-color: var(--background-color);
    border: var(--background-color);
}
/* form */

/* modal */

.modal .modal-body .form-floating .form-control, .form-select{
    border: 1px solid #D8DCE6;
    background-color: #D8DCE64D;
}

.modal .modal-footer .btn{
    color: var(--primary-color);
    padding: .375rem 1.90rem;
}

.modal .modal-footer .btn-primary{
    background-color: var(--background-color);
    border: var(--background-color);
    padding: 7px 15px;
}

.modal .modal-footer .btn-secondary{
    color: var(--background-color);
    border: 1px solid var(--background-color);
    background-color: #fff;
}
/* modal */