*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

.header .background-container{
    background-image: url(/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
}

.header .navbar {
    margin-top: 48px;
    border-radius: 36px;
    padding: 8px 24px;
    height: 60px;
}

.header .navbar .container-fluid .navbar-brand{
    width: 75px;
}

.header .navbar .container-fluid .navbar-brand img{
    width: 100%;
}

.header .navbar .container-fluid .collapse a{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
} 
