*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

.header .navbar {
    margin-top: 48px;
    border-radius: 36px;
    padding: 10px 24px;
}

.header .navbar .container-fluid .navbar-brand{
    width: 100px;
}

.header .navbar .container-fluid .navbar-brand img{
    width: 100%;
}