@media (min-width: 768px){    
    #carrousel-container .carousel-caption {
        padding-bottom: 13rem;
    }

    #challenges-container .card {
        margin-bottom: 48px;
    }
    
    #challenges-container .card .card-body{
        padding: 24px 16px;
        height: 500px;
    }

    #place-time-container{
        padding: 32px 0 0;
    }
        
    #place-time-container .place-time--detail {
        text-align: center;
    }

    .offset-md-10 {
        margin-left: 81.55555%;
    }
}