@media (min-width: 1200px) {
   
    #carrousel-container .carousel-caption {
        padding-bottom: 7rem;
    }

    #carrousel-container .carousel-caption .carousel-btn-container{
        display: flex!important;
        justify-content: center;
        width: 100%;
    }

    #carrousel-container .carousel-caption .carousel-btn-container .btn{
        width: 180px;
    }

    #challenges-container .card .card-body {
        padding: 24px 48px;
        height: 550px;
    }

    #challenges-container .card .card-body h2 {
        font-size: 2.4rem;
    }

    #challenges-container .card .card-body p {
        font-size: 1.1rem;
    }

    #place-time-container .place-time--detail {
        margin: 100px 0 0 110px;
    }
}